# IDE & Editor files
.idea/
.vscode/
*.swp
*.swo
tsconfig.tsbuildinfo

# Dependencies / Build artifacts
/node_modules/
/apps/**/node_modules/
/packages/**/node_modules/
/build/
/dist/
.next/
*.log

# DB / Secrets
*.db
*.sqlite
.env*
.env.*
.env*.local
upload-keystore.jks
.audit*
.neon

# Dart & Flutter
.dart_tool/
.packages
.pub-cache/
pubspec.lock  # Keep for reproducible builds

# OS / Temp
.DS_Store
Thumbs.db
.vercelignore  # Vercel-specific

# Uploads / Temp
**/uploads/
**/temp/
.vercel
